.container{
  height: 180px;
}
div[class*="col-"]{
  height: 100%;
  background-color: pink;
  border: 1px solid black;
  text-align: center;
}
p{
padding-top: 75px;
}
.container [class*="col-"]> .container{
  padding: 5px;
}
.container [class*="col-"]> .container>[class*="col-"]{
  border: 1px solid white;
  background: lightcoral;
}
